@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
       @ViewBag.Greeting people! (from the MyView)
        <p> We're going to have a party. <br />
        (Y'all are invited here. But please RSPV if y're coming. )
        </p>
        <a asp-action="RsvpForm"> RSVP Now</a>
    </div>
</body>
</html>